* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --barlow: "Barlow", sans-serif;
  --fra: "Fraunces", serif;
}

.inline {
  display: inline;
}
#navright {
  float: right;
  color: white;
}
header {
  background-image: url("/contents/image-header.jpg");
  background-size: cover;
  height: 600px;
}
#creatives {
  text-align: center;
  position: relative;
  top: 20%;
  color: white;
  font-family: var(--fra);
  font-weight: 900;
  letter-spacing: 4px;
  clear: right;
}

#navright .inline {
  margin-left: 50px;
  font-family: var(--barlow);
  font-weight: 100;
  font-size: 12px;
  position: relative;
  right: 20px;
}
#li1 {
  font-family: var(--fra);
  color: white;
  position: relative;
  left: 5%;
  font-size: 18px;
}
#nav {
  position: relative;
  top: 15px;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.headerbuttons {
  border: none;
  background-color: #3dbeff;
  font-family: var(--barlow);
  color: white;
  padding: 10px;
}
button,
a {
  cursor: pointer;
}
.headerbuttons:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 10%;
  color: #3dbeff;
  font-size: 12px;
}

/*----------------------------*/
img {
  max-width: 100%;
  display: block;
}
.push {
  position: relative;
  top: 25%;
}

/*--------------------BUTTON----------------*/

.learnmorebutton {
  border: none;
  font-family: var(--fra);
  background: none;
  font-weight: 900;
}
.learnmorebutton:hover {
  border: none;
  border-bottom: 3px solid yellow;
}
/*-------------------------------------------*/
#photography {
  color: rgb(17, 94, 118);
  font-family: var(--fra);
}
#graphicdesign {
  color: hsl(167, 40%, 24%);
  font-family: var(--fra);
  font-weight: 600;
}
#gdtext {
  font-family: var(--barlow);
  width: 50%;
  position: relative;
  left: 25%;
  color: hsl(167, 40%, 24%);
}
#pttext {
  font-family: var(--barlow);
  width: 50%;
  position: relative;
  left: 25%;
  color: hsl(198, 62%, 26%);
}
#brandh2 {
  font-family: var(--fra);
  font-weight: 900;
}
#brandpara {
  font-family: var(--barlow);
  text-align: left;
}
#audienceh2 {
  font-family: var(--fra);
  font-family: 900;
}
#audiencepara {
  font-family: var(--barlow);
  text-align: left;
}
.justify-center {
  width: 60%;
  position: relative;
  left: 20%;
  top: 150px;
}

.center {
  text-align: center;
}
.top {
  position: relative;
  bottom: 200px;
}
/*------------------TESTIMONIAL SECTION-------------*/
.images {
  border-radius: 50%;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#testimonials {
  margin-bottom: 100px;
  font-family: var(--fra);
  color: gray;
}
.testp {
  font-family: var(--barlow);
  width: 75%;
  position: relative;
  left: 10%;
  color: #1f1f1f8e;
}
.job {
  font-family: var(--barlow);
  color: #a9a9a98e;
}
/*------------------------------------------------------------*/
.inlineblock {
  display: inline-block;
}
.block {
  display: block;
  margin: 0%;
}
/*-----------------------------Footer---------------------*/
#footerlist li {
  display: inline-block;
  margin-right: 25px;
  font-family: var(--barlow);
}
#h3footer {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: var(--fra);
}

#footericons {
  margin-top: 50px;
}
#footericons li {
  display: inline-block;
  margin-right: 20px;
}
#footer {
  background-color: hsl(168, 34%, 41%);
}
